body {
    background-attachment: fixed;
    margin: 0;
    overflow-y: hidden;
    color: white;
}

.rounded {
    border-style: dotted;
    border-color: white;
    border-radius: 1em;
    padding: 1em;
}

p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.top-left {
    position: absolute;
    top: 2em;
    left: 2em;
    display: flex;
    flex-direction: column;
    horiz-align: center;

    .item {
        margin-bottom: 0.5em;
        color: white;
    }
}

.top-right {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 16em;
    font-size: large;
    flex-direction: column;
    display: flex;
    horiz-align: right;
}

.bottom-right {
    position: absolute;
    bottom: 2em;
    right: 2em;
}


.bottom-left {
    position: absolute;
    bottom: 2em;
    left: 2em;
}


.input_group {
    & *:not(:first-child) {
        margin-left: 5px;
    }
}

#control_overlay, canvas {
    outline: none;
}